<div class="container">
<h1>Ma liste d'articles</h1>
<%@articles.each do |article|%>
  <div class="card">
  <div class="card-header">
  
  </div>
  <div class="card-body">
  <h5 class="card-title"><% if article.category %>
  <%= article.title%> (<%= article.category.name %>)
  <% else %>
      <%= article.title %>
    <% end %></h5>
    <p class="card-text">Découvrir l'article</p>
    <a href="article/<%= article.id%>" class="btn btn-primary">Go read</a>
  </div>
</div>
    <%end%>

<%= form_tag "/article", method: "post" do %>
        
  <label for="input">Ecrire le titre</label>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Titre article</span>
  </div>
  <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

   
        <div class="mb-3">
    <label for="validationTextarea">Contenu de l'article</label>
    <textarea class="form-control is-invalid" type="text" name="content" id="validationTextarea" placeholder="inscrire ici le contenu" required></textarea>
    <div class="invalid-feedback">
      écrire le contenu
    </div>
       
      <select name="category_id" class="form-control">
      <% @categories.each do |category| %>
  <option value="<%= category.id %>"><%= category.name %></option>
  <% end %>
</select>
        <input type="submit" value="Ajouter un article" />
<% end %>
</div>






