

<div class="container mx-auto" >
<div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title_was %></h5>
    <p class="card-text"><%=@article.content%></p>
    <a href="/article" class="btn btn-primary">Retour aux articles</a>
  </div>
</div>

<%= form_tag "/article/#{@article.id}", method: "patch" do %>
<input type="text" name="title" value="<%= @article.title %>" />
    <input type="submit" value="Modifier le titre" />
    <p><%= @article.errors[:title].first %></p>
    <textarea type="text" name="content"placeholder="contenu" /></textarea>
    <input type="submit" value="Modifier le contenu" />
    
<% end %>
<%= form_tag "/article/#{@article.id}", method: "delete" do %>
  <input type="submit" value="Supprimer l'article" />
<% end %>
</div>
